<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @beer.city %>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beer.rating %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
